@import 'vars.styl'

html, body {
  height: 100%;
}

input
  outline none

body
  margin 45px 40px

footer
  font-size 14px
  .copyright-wrapper
    margin-bottom 35px

a
  color $red
  &:hover
    color $red

strong, b
  font-weight 700

.container
  //padding-left 100px
  &.no-padding
    padding-left 0

.pL
  padding-left 15px

.pR
  padding-right 15px

.line
  border-bottom-color $menuGrayBg
  border-bottom-style solid
  border-bottom-width 1px
  width 1170px
  margin 0 0 20px 0
  &.dashed
    margin 20px 0 0 0
    border-bottom-style dashed
  &.end
    margin 50px 0 35px 0

.middle
  display -moz-inline-box
  display inline-block
  vertical-align middle
  zoom 1
  //display:inline

.middle-helper
  display -moz-inline-box
  display inline-block
  vertical-align middle
  height 100%
  width 0px
  zoom 1
  //display:inline;

::-webkit-input-placeholder { /* WebKit browsers */
  opacity: 1
  color:    $white
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: 1
  color:    $white
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: 1
  color:    $white
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  opacity: 1
  color:    $white
}

// Генерим падинги и маргины
for $i in (0..10) {
  $value = ($i*5)
  .pL{$value} {
    padding-left ($value)px
  }
  .pR{$value} {
    padding-right ($value)px
  }
  .pT{$value} {
    padding-top ($value)px
  }
  .pB{$value} {
    padding-bottom ($value)px
  }
  .mL{$value} {
    margin-left ($value)px
  }
  .mR{$value} {
    margin-right ($value)px
  }
  .mT{$value} {
    margin-top ($value)px
  }
  .mB{$value} {
    margin-bottom ($value)px
  }
}