//common
@import "nib"
@import "if-ie.styl"
@import 'vars.styl'
@import 'cssresetAndNormalize.styl'
@import 'boilerplate.styl'
@import 'bootstrap/bootstrap'
@import 'iconfont.styl'

//content
@import 'default.styl'
@import 'header.styl'
@import 'menu.styl'
@import 'product.styl'
@import 'dropdown.styl'
@import 'dateAndTimePicker.styl'
@import 'progressBtn.styl'
@import 'nodValidation.styl'
@import 'fotorama.styl'
@import 'multiSelect.styl'

.container
  width 1170px
  max-width 1170px
  min-width 1170px