@import 'vars.styl'

.menu
  a
    li
      padding 0 15px
      line-height 48px
      span
        background $menuGrayBg
        color $text
        text-transform uppercase
        width 100%
        display inline-block
        &:hover,
        .active
          background $red
          color $white


