.menu a li {
  padding: 0 15px;
  line-height: 48px;
}
.menu a li span {
  background: #d0d2d3;
  color: #333;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
}
.menu a li span:hover,
.menu a li span .active {
  background: #ee4036;
  color: #fff;
}
