.property {
  margin: 20px 0;
}
.property div {
  float: left;
  margin-right: 40px;
}
.property div:last-child {
  margin-right: 0;
}
.property div .icon {
  font-size: 28px;
  margin-right: 5px;
  margin-top: 0;
  color: #ee4036;
}
.property div span {
  display: block;
  float: left;
  margin-top: 5px;
}
.complexity-block .span.icon {
  mergin-right: 8px;
}
.amount-and-price {
  margin-top: 20px;
}
.price-count {
  margin-top: 9px;
  float: left;
  font-size: 36px;
  font-weight: 300;
  color: #404041;
}
.price-count div {
  float: left;
}
.price-count .amount {
  background: #ee4036;
  color: #fff;
}
.add-to-cart {
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  float: right;
  color: #fff;
  background: #ee4036;
  line-height: 64px;
  width: 185px;
  text-align: center;
}
.add-to-cart:hover {
  color: #fff;
}
.product img {
  float: left;
  display: block;
  margin-top: 20px;
}
.recipe-of-day-wrapper {
  background: url("../img/recipe_of_the_day.png") no-repeat;
  width: 78px;
  height: 52px;
  position: absolute;
  right: 55px;
  top: 20px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-top: 6px;
}
.new-recipe-wrapper {
  background: url("../img/new_recipe.png") no-repeat;
  width: 78px;
  height: 52px;
  position: absolute;
  right: 55px;
  top: 20px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-top: 6px;
  color: #fff;
}
.price-for-one-words {
  display: inline-block;
  font-size: 12px;
  margin-left: 2px;
}
