/* General styles for all types of buttons */
.progress-button {
  position: relative;
  display: block;
  float: left;
  padding: 0 60px;
  outline: none;
  border: none;
  background: #fff;
  color: #ee4036;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  width: 168px;
}
.progress-button[disabled],
.progress-button[disabled].state-loading {
  cursor: default;
}
.progress-button .content {
  font-weight: 700;
  position: relative;
  display: block;
}
.progress-button .content::before,
.progress-button .content::after {
  font-family: 'varimJarim';
  position: absolute;
  right: 20px;
  color: #ee4036;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
.progress-button .content::before {
  content: "\e60f";
/* Checkmark for success */
}
.progress-button .content::after {
  content: "\e610";
/* Cross for error */
}
.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
  opacity: 1;
}
.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
.progress-button .progress {
  border-radius: 0;
  background: #fff;
}
.progress-button .progress-inner {
  position: absolute;
  left: 0;
  background: #d0d2d3;
}
.progress-button[data-horizontal] .progress-inner {
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}
.progress-button[data-vertical] .progress-inner {
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.3s, opacity 0.3s;
  transition: height 0.3s, opacity 0.3s;
}
/* Necessary 3d styles for buttons with perspective */
.progress-button[data-perspective] {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  -webkit-perspective: 900px;
  perspective: 900px;
}
.progress-button[data-perspective] .content {
  background: #fff;
}
.progress-button[data-perspective] .progress-wrap {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
  outline: 1px solid rgba(0,0,0,0);
/* Smoothen jagged edges in FF */
}
.progress-button[data-style="flip-open"] .content {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.progress-button[data-style="flip-open"] .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.progress-button[data-style="flip-open"].state-loading .content {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
}
